# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc

# IDE and editor files
.idea/
.vscode/
*.swp

# Windows system files
Thumbs.db
ehthumbs.db

# env vars
.env
