<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}trainerAPP - index{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h3>trainerAPP</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>

                {% if request.user.is_authenticated %}
                    <li><a href="/logout/">Log out</a></li>
                    <li><a href="/users/">Users</a></li>
                    <li><a href="/trainer/">Trainers</a></li>
                    <li><a href="/users/{{ request.user.id }}">My Profile</a></li>
                {% else %}
                    <li><a href="/register/">Registration</a></li>
                    <li><a href="/login/">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        *for testing*
        <p>Username: {{ request.user.username }}</p>
        {% if request.user.groups.first %}
            <p>Group: {{ request.user.groups.first.name }}</p>
            <form action="{% url 'hot_change_group' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Switch Role</button>
            </form>
        {% else %}
            No group assigned
        {% endif %}

        <p>&copy; 2025 trainerAPP</p>
    </footer>
</body>
</html>