{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

    <h3>Log in</h3>

    <form action="{% url "user_login" %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>

        <button type="submit">Login</button>
        <br>

        <br><p style="color: gray">Testing features:</p>
        <label style="color: gray" for="delete_user">Delete user (password must be valid):</label>
        <input type="checkbox" name="delete_user" id="delete_user" placeholder="username">
    </form>

    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}

{% endblock %}