{% extends "base.html" %}

{% block title %}Service{% endblock %}

{% block content %}

    <h2>{{ service.category.name}}</h2>

            <br>Price: {{ service.price }} USD
            <br>Duration: {{ service.duration }} (hh:mm:ss)
            <br>Level: {{ service.level }}

            {% if not is_trainer %}
                <!-- Блок выбора даты и времени -->
                <form action="{% url 'trainer:book_service' trainer_id=service.trainer_id service_id=service.id %}" method="POST" class="booking-form-hours">
                    {% csrf_token %}
                    <input type="hidden" name="date" value="{{ current_year }}-{{ current_month|stringformat:"02d" }}-{{ selected_day.day|stringformat:"02d" }}">
                    <h3>Booking Calendar</h3>
                    <p>SELECTED DAY {{ selected_day }}</p>

                    <!-- Текущий месяц -->
                    <h4>Current Month: {{ current_month }} {{ current_year }}</h4>
                    {% include "calendar_table.html" with calendar_rows=calendar_rows year=current_year month=current_month %}

                    <!-- Следующий месяц -->
                    <h4>Next Month: {{ next_month }} {{ next_year }}</h4>
                    {% include "calendar_table.html" with calendar_rows=next_calendar_rows year=next_year month=next_month %}

                    <!-- Через месяц -->
                    <h4>Next-Next Month: {{ next_next_month }} {{ next_next_year }}</h4>
                    {% include "calendar_table.html" with calendar_rows=next_next_calendar_rows year=next_next_year month=next_next_month %}

                    {% if possible_times %}
                        <div>
                            <h4>Choose Time Interval</h4>
                                <select name="booking_time">
                                    {% for time in possible_times %}
                                        <option value="{{ time.0|time:"H:i" }}-{{ time.1|time:"H:i" }}">
                                            {{ time.0|time:"H:i" }} - {{ time.1|time:"H:i" }}
                                        </option>
                                    {% endfor %}
                                </select>
                        </div>

                        <br><button type="submit">Book</button>
                    {% else %}
                        <h4>No Possible Time To Book</h4>
                    {% endif %}
                </form>
            {% endif %}
            <br>-------------------------





    {% if is_trainer %}
        <br><h2>Edit Service !!! NOT WORKING !!!</h2>

        <form action="{% url 'trainer:service_page' trainer_id=trainer_id %}" method="POST">
            {% csrf_token %}
            <div>
                <br>Category:
                    <select name="category">
                        {% for category in service_categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                <br><br>Duration (minutes): <input type="text" name="duration">
                <br>Price (USD): <input type="number" name="price">
                <br>Level: <select name="level">
                    <option value="1">Novice</option>
                    <option value="2">Medium</option>
                    <option value="3">Advanced</option>
                    </select>
                <br><button type="submit">Submit</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
