{% extends "base.html" %}

{% block title %}Service{% endblock %}

{% block content %}

    <h2>{{ service.category.name}}</h2>


            <br>Price: {{ service.price }} USD
            <br>Duration: {{ service.duration }} (hh:mm:ss)
            <br>Level: {{ service.level }}
                {% if not is_trainer %}
                    <form action="{% url 'trainer:book_service' trainer_id=service.trainer_id service_id=service.id %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <br>Booking time: <select name="booking_time">
                                {% for time in possible_times %}
                                    <option value="{{ time.0 }}">{{ time.0 }}</option>
                                {% endfor %}
                                </select>
                            <br><button type="submit">Book</button>
                        </div>
                    </form>
                {% endif %}
            <br>-------------------------

    {% if is_trainer %}
        <br><h2>Edit Service !!! NOT WORKING !!!</h2>

        <form action="{% url 'trainer:service_page' trainer_id=trainer_id %}" method="POST">
            {% csrf_token %}
            <div>
                <br>Category:
                    <select name="category">
                        {% for category in service_categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                <br><br>Duration (minutes): <input type="text" name="duration">
                <br>Price (USD): <input type="number" name="price">
                <br>Level: <select name="level">
                    <option value="1">Novice</option>
                    <option value="2">Medium</option>
                    <option value="3">Advanced</option>
                    </select>
                <br><button type="submit">Submit</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
