{% extends "base.html" %}

{% block title %}Trainer{% endblock %}

{% block content %}

    {% if trainer_id == request.user.id %}
        <h2>My Services</h2>
    {% else %}
        <h2><a href="{% url 'users:user_details' user_id=trainer_id %}">{{ trainer.first_name }} {{ trainer.last_name }}</a> Services</h2>
    {% endif %}

        {% for service in trainer_services %}
            <br>Category: {{ service.category.name }}
            <br>Price: {{ service.price }} USD
            <br>Duration: {{ service.duration }}
            <br>Level: {{ service.level }}
                {% if trainer_id == request.user.id %}
                    <br><a href="{% url 'trainer:edit_trainer_service' trainer_id=trainer_id  service_id=service.id%}">...Edit</a>
                {% endif %}
                {% if not is_trainer %}
                    <br><a href="{% url 'trainer:book_service' trainer_id=trainer_id service_id=service.id %}">Book</a>
                {% endif %}
            <br>-------------------------
        {% endfor %}

    {% if is_trainer %}
        <form action="{% url 'trainer:add_trainer_service' trainer_id=trainer_id %}" method="POST">
            <h2>Add New Service</h2>
            {% csrf_token %}
            {{ form_add_service.as_p }}
            <button type="submit">Submit</button>
        </form>


        <form action="{% url 'trainer:set_working_hours' trainer_id=trainer_id %}" method="POST">
            <h2>Set Working Hours</h2>
            {% csrf_token %}
            {{ form_set_working_hours.as_p }}
            <button type="submit">Submit</button>
        </form>


        <form action="{% url 'trainer:set_trainer_description' trainer_id=trainer_id %}" method="POST">
            <h2>Set My Description</h2>
            {% csrf_token %}
            {{ form_set_description.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}
