{% extends "base.html" %}

{% block title %}Trainer{% endblock %}

{% block content %}

    {% if trainer_id == request.user.id %}
        <h2>My Services</h2>
    {% else %}
        <h2>{{ trainer.first_name }} {{ trainer.last_name }} Services</h2>
    {% endif %}

    <br>-------------------------
    <br>Trainers working hours: ....
    <br>-------------------------
    <br>

        {% for service in trainer_services %}
            <br>Category: {{ service.category.name }}
            <br>Price: {{ service.price }} USD
            <br>Duration: {{ service.duration }} (hh:mm:ss)
            <br>Level: {{ service.level }}
                {% if not is_trainer %}
                    <br><a href="{% url 'trainer:book_service' trainer_id=trainer_id service_id=service.id %}">Book</a>
                {% endif %}
            <br>-------------------------
        {% endfor %}

    {% if is_trainer %}
        <br><h2>Add Trainer Service</h2>

        <form action="{% url 'trainer:service_page' trainer_id=trainer_id %}" method="POST">
            {% csrf_token %}
            <div>
                <br>Category:
                    <select name="category">
                        {% for category in service_categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                <br><br>Duration (minutes): <input type="text" name="duration">
                <br>Price (USD): <input type="number" name="price">
                <br>Level: <select name="level">
                    <option value="1">Novice</option>
                    <option value="2">Medium</option>
                    <option value="3">Advanced</option>
                    </select>
                <br><button type="submit">Submit</button>
            </div>
        </form>
    {% endif %}

    {% if is_trainer %}
        <br><h2>Add Trainer Working Hours</h2>

        <form action="{% url 'trainer:service_page' trainer_id=trainer_id %}" method="POST">
            {% csrf_token %}
            <div>
                <br>Start Date & Time:
                <input type="datetime-local" name="start_datetime">
                <br>End Date & Time:
                <input type="datetime-local" name="end_datetime">
                <br><button type="submit">Submit</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
